<div class="Login">

    <h1>Login</h1>

    <form action='/users/login' method="POST">
        Username: <input type=text name='username' required>
        Password: <input type=password name='password' required>
        <input type=submit>
    </form>

    <a href="/">Back</a>

</div>