<h1> This is the order form </h1>

<a href="/home">Home</a>

<form action='/orders' method="POST">
    Address: <input type=text name='address' required>
    Item: <input type=text name='item' required>
    Item_price: <input type=number name='item_price' required>
    Total: <input type=number name='total' required>
    <input type=submit>
</form>