<h1> This is the order form </h1>

<a href="/users/<%= session[:user_id] %>">Home</a>

<form action='/orders' method="POST">
    Address: <input type=text name='address'>
    Item: <input type=text name='item'>
    Item_price: <input type=number name='item_price'>
    Total: <input type=number name='total'>
    <input type=submit>
</form>